SHOPIFY_CLIENT_ID=
SHOPIFY_CLIENT_SECRET=
SHOPIFY_SCOPES=write_products,read_products
SHOPIFY_APP_URL=
SHOPIFY_AUTH_CALLBACK_URL=
DATABASE_URL=
JWT_SECRET=
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_MERCHANT_KEY=
OTP_LICENSE_CODE=
OTP_API_KEY=
OTP_EXPRIMENT_ID=
OTP_HOST=
SHOPIFY_APP_TOKEN=
MULTIPASS_SECRET=
ACME_BASE_URL=
ACME_SPROGRAM_KEY=
ACME_AUTHORIZATION=
ACME_X_KEY=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
TO_EMAIL=
S3_BUCKET=
AWS_REGION=
